<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">



    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyAccountServlet</servlet-name>
        <servlet-class>servlet.ModifyAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyAccountServlet</servlet-name>
        <url-pattern>/ModifyAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddActivityServlet</servlet-name>
        <servlet-class>servlet.AddActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddActivityServlet</servlet-name>
        <url-pattern>/AddActivity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadNotificationServlet</servlet-name>
        <servlet-class>servlet.LoadNotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadNotificationServlet</servlet-name>
        <url-pattern>/LoadNotification</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BeanServlet</servlet-name>
        <servlet-class>servlet.BeanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeanServlet</servlet-name>
        <url-pattern>/Bean</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisconnectServlet</servlet-name>
        <servlet-class>servlet.DisconnectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisconnectServlet</servlet-name>
        <url-pattern>/Disconnect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendFriendRequestServlet</servlet-name>
        <servlet-class>servlet.SendFriendRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendFriendRequestServlet</servlet-name>
        <url-pattern>/SendFriendRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AcceptNotifServlet</servlet-name>
        <servlet-class>servlet.AcceptNotifServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcceptNotifServlet</servlet-name>
        <url-pattern>/AcceptNotif</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeclineNotifServlet</servlet-name>
        <servlet-class>servlet.DeclineNotifServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeclineNotifServlet</servlet-name>
        <url-pattern>/DeclineNotif</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadFriendsServlet</servlet-name>
        <servlet-class>servlet.LoadFriendsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadFriendsServlet</servlet-name>
        <url-pattern>/LoadFriends</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <servlet-class>servlet.DeleteFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <url-pattern>/DeleteFriend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AlerteServlet</servlet-name>
        <servlet-class>servlet.AlerteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlerteServlet</servlet-name>
        <url-pattern>/Alerte</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadActivitiesServlet</servlet-name>
        <servlet-class>servlet.LoadActivitiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadActivitiesServlet</servlet-name>
        <url-pattern>/LoadActivities</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadActivitiesAdminServlet</servlet-name>
        <servlet-class>servlet.LoadActivitiesAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadActivitiesAdminServlet</servlet-name>
        <url-pattern>/LoadActivitiesAdmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteActivityServlet</servlet-name>
        <servlet-class>servlet.DeleteActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteActivityServlet</servlet-name>
        <url-pattern>/DeleteActivity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>


    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>


    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>




</web-app>